body, html {
  margin: 0;
  padding: 0;
}

header h1, header nav {
  display: inline-block;
}

header nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

header nav li {
  display: inline-block;

  /* paddding: t r b l */
  /* padding: 5px 10px 5px 10px; */

  /* TB LR */
  padding: 5px 10px;
}

main {
  width: 600px;
  margin: auto;
}

section {
  margin: 0;
  padding: 0;
}

.hero img {
  width: 100%;
}

.teasers ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.teasers li {
  display: inline-block;
  width: 190px;
}

.teasers img {
  margin: 10px;
  width: 100%;
}

p {
  margin: 25px;
  line-height: 1.5em;
}
